<?xml version="1.0" ?>
<settings version="1">
  <section id="osmc.xtrasuspend" label="32000">
    <category id="xtrasuspend" label="32007" help="32011">
      <group id="1" label="32011">
	      <setting id="ether" type="boolean" label="32001" help="32008">
	        <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
          </setting>
	      <setting id="wifi" type="boolean" label="32002" help="32009">
	        <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
          </setting>
	      <setting id="bt" type="boolean" label="32003" help="32010">
	        <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
          </setting>		  
	  </group>
    </category>
  </section>
</settings>